.container-wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
}


.card{
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 300px;
}